<h2>Edit Doc</h2>

<%= simple_form_for @doc, :html => { :multipart => true } do |f| %>
  <%= f.select :category_id, @categories %>
  <%= f.input :title, label: "Documentary Title" %>
  <%= f.input :description %>
  <%= f.input :director, label: "Director(s)" %>
  <%= f.button :submit %>
<% end %>
