<h2><%= @doc.title %></h2>
<h4><%= @doc.director %></h4>
<h5><%= @doc.description %></h5>

<%= link_to "Back", root_path(@doc) %>
<%= link_to "Edit", edit_doc_path(@doc) %>
<%= link_to "Delete", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" } %>
