<div class="row">

  <div class="col-md-4">
    <%= image_tag @doc.doc_img.url(:doc_show), class: "doc-show" %>
  </div>

  <div class="col-md-8">
    <h1><%= @doc.title %></h1>
    <h3><%= @doc.director %></h3>
    <p><%= @doc.description %></p>
  </div>


</div>

<div class="row">
  <div class="col-md-4">

    <!-- Home for review/ratings -->

  </div>

</div>

<%= link_to "Back", root_path(@doc) %>

<% if user_signed_in? %>

  <% if @doc.user_id == current_user.id %>

    <%= link_to "Edit", edit_doc_path(@doc) %>
    <%= link_to "Delete", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" } %>

  <% end %>
<% end %>
